<%= form_for @properties do |f| %>
<form>
<div class="form-group">
    <%= f.label :Home_type %>
    <%= f.select :home_type, 
    [["Apartment", "Apartment"], 
    ["House", "House"],
    ["Bed & Breakfast", "Bed & Breakfast"]], 
    include_blank: "Select.." %>
</div>

<div class="form-group">
    <%= f.label :Room_type %>
    <%= f.select :room_type, 
    [["Entire", "Entire"], 
    ["Private", "Private"],
    ["Shared", "Shared"]], 
    include_blank: "Select.." %>
</div>

<div class="form-group">
    <%= f.label :Accommodate %>
    <%= f.select :guest_count, 
    [["1", "1"], 
    ["2", "2"],
    ["3", "3"],
    ["4+", "4+"]], 
    include_blank: "Select.." %>
</div>

<div class="form-group">
    <%= f.label :Bedrooms %>
    <%= f.select :bedroom_count, 
    [["1", "1"], 
    ["2", "2"],
    ["3", "3"],
    ["4+", "4+"]],
    include_blank: "Select.." %>
</div>

<div class="form-group">
    <%= f.label :Bathrooms %>
    <%= f.select :bathroom_count, 
    [["1", "1"], 
    ["2", "2"],
    ["3", "3"],
    ["4+", "4+"]],
    include_blank: "Select.." %>
</div>

<div class="form-send">
    <%= f.submit "Create My Room", class: "btn btn-info" %>
</div>
<% end %>
</form>
