<ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Listing", listing_property_path, class:"text-success" %>
  <span class="float-right badge badge-success">done</span>
  </li>

  <li class="list-group-item">
  <%= link_to "Pricing", pricing_property_path, class:"text-success" %>
  <% if @properties.price %>
    <span class="float-right badge badge-success">done</span>
  <% end %>
  </li>

  <li class="list-group-item">
  <%= link_to "Description", description_property_path, class:"text-success" %>
  <% if @properties.description %>
    <span class="float-right badge badge-success">done</span>
  <% end %>
  </li>

  <li class="list-group-item">
  <%= link_to "Photos", photos_property_path, class:"text-success" %>
  <% if @properties.pictures %>
    <span class="float-right badge badge-success">done</span>
  <% end %>
  </li>

  <li class="list-group-item">
  <%= link_to "Amenities", amenities_property_path, class:"text-success" %>
  <% if @properties.has_tv || @properties.has_aircon || @properties.has_kitchen || @properties.has_will || @properties.has_heater %>
    <span class="float-right badge badge-success">done</span>
  <% end %>
  </li>

  <li class="list-group-item">
  <%= link_to "Location", location_property_path, class:"text-success" %>
  <% if @properties.location %>
    <span class="float-right badge badge-success">done</span>
  <% end %>
  </li>

  <button btn-success><%= link_to "Publish", property_path %></button>
</ul>