<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
  <a class="navbar-brand" href="/">
      <img src="/assets/logo.png" width="100">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" style="width: 217px; height: 39.5px; margin-bottom: 0px;" type="search" placeholder="Anywhere" aria-label="Search">
    </form>
  </div>
    <button class="btn btn btn-outline-success" style="height: 39.5px; margin-top: 4px; font-size:14px; margin-right: 10px;" type="button">
    <%= link_to "Become a Host", properties_new_path %></button>
    
  <% if logged_in? %>
  <div class="navbar-nav mr-auto nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= gravatar_for current_user, size: 30 %> <%= current_user.name %>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="right:0" >
          <li class="dropdown-item"><%= link_to "Manage Listing", properties_path, class:"active" %></li>
          <li class="dropdown-item"><%= link_to "Your Listings", properties_path, class:"active" %></li>
          <li class="dropdown-item"><%= link_to "Your Reservations", your_reservations_path, class:"active" %></li>
          <li class="dropdown-item"><%= link_to "Your Trips", your_trips_path, class:"active" %></li>
          <li class="dropdown-item"><%= link_to "Edit Profie", edit_user_path(current_user) %></li>
          <li class="dropdown-item"><%= link_to "View My Profie", current_user %></li>
          <li class="dropdown-item"><%= link_to "Sign out", logout_path, method: :delete %></li>
      </ul>
  </div>
      <% else %>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Login", login_path, class: "nav-link", style:"font-size:18px" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Signup", signup_path, class: "nav-link", style:"font-size:18px" %>
          </li>
      </ul>
      <% end %>
</nav>